.l-nav-bar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.l-nav-bar-image {
  float: left;
}
.slot {
  margin-top: 10px;
}
.l-slot {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #243b55;
  height: 100%;
  overflow: scroll;
}
.l-nav-bar-label {
  font-family: "Calibri";
  font-size: 30px;
  float: left;
  margin-top: 11px;
  color: whitesmoke;
}
.l-nav-bar-link {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}
.l-nav-bar-link a {
  font-family: "Calibri";
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  padding-left: 20px;
}
.body-page {
  width: 97%;
  position: absolute;
  left: 1.5%;
  top: 90%;
  background-color: whitesmoke;
  height: 1000px;
  z-index: -1;
}
