.not-found {
    position: fixed;
    left:0;
    top:10%;
    width:100%;
    text-align: center;
}
.not-found img {
    width:30%;
}
.not-found-label {
    font-family: 'Calibri';
    font-size:60px;
    color:silver;
}
.not-found-label-one {
    font-family: 'Calibri';
    font-size:30px;
    color:silver;
}
.not-found-label-two {
    font-family: 'Calibri';
    font-size:16px;
    color: silver;
}
.not-found-home {
    outline:none;
    font-family: 'Calibri';
    font-size:16px;
    border:none;
    padding:10px 15px 10px 15px;
    background-color: seagreen;
    color:whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}
.not-found-home:hover {
    background-color: #11998e;
}
.not-found-com {
    text-align:center;
    margin-top:1%;
}
.slight-margin-right {
    margin-right:10px;
}
.slight-margin-left {
    margin-left:10px;
}